<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv=Content-Type content="text/html;charset=utf-8">
        <title>Madrid Monitor search</title>
        <link rel="stylesheet" href="/public/style.css">
    </head>
    <body id="body">
        <div id = "service_title">
            <h1 id="service_title_h1">Поиск информации о товарном знаке в системе Madrid Monitor</h1>
        </div>
        <div id="application">
            <form method="get" action="/designations" id = "application_form">
                <label id="app_num"><strong>Введите номер международной регистрации:</strong> <br>
                    <input id = 'input' type="text" name='number'>
                </label>
                <input id = 'button1' type="submit" value="Подтвердить">
            </form>
        </div>
    </body>
</html>
